@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

* {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(231, 231, 231);
  text-align: left;
  margin: 0;
}

h1,h2 {
  
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 25px;
  max-width: fit-content;
  text-shadow: 1px 1px 1px black;
}

h1 {
  font-size: 64px;
  text-align: left;
}

h2 {
  font-size: 24px;
  text-align: right;
  max-height: fit-content;
  margin-top: 38px;
}

#headerContainer {
  background-color: rgb(202, 202, 202);
  display: flex;
  position: relative;
  top: -30px;
}

#gradientUnderTitle {
  background-image: linear-gradient(rgb(202, 202, 202,1),rgb(231, 231, 231,0));
  padding: 2px;
  position: relative;
  top: -30px;
}

.navItem {
  max-width: 25%;
  width: 25%;
  margin: 0px;
  height: 24px;
  padding-top: 5px;
  background-color: rgb(231, 231, 231);
  transition: background-color 0.25s ease-in-out;
  border-left: solid rgb(145, 145, 145) 2px;
  border-right: solid rgb(145, 145, 145) 2px;
  border-bottom: solid rgb(145, 145, 145) 2px;
}

#falseH:hover {
  background-color: rgb(175, 182, 149);
}
#falseS:hover {
  background-color: rgb(96, 136, 168);
}
#falseG:hover {
  background-color: rgb(110, 146, 107);
}
#falseA:hover {
  background-color: rgb(165, 124, 165);
}

#trueH {
  background-color: rgba(202, 195, 154, 0.5)
}
#trueS {
  background-color: rgba(146, 175, 199, 0.5)
}
#trueG {
  background-color: rgba(159, 202, 177, 0.5)
}
#trueA {
  background-color: rgba(199, 163, 190, 0.5)
}

#navBar {
  display:flex;
  justify-content: space-evenly;
  height: 30px;
  position: relative;
  top: 125px;
}

.sidebar {
  background-color: rgb(145, 145, 145);
  width: 250px;
  position: relative;
  top: -3px;
  height: 100vh;
  border-right: solid rgb(145, 145, 145) 2px;
  animation: 1s sideLoad;
  animation-fill-mode: forwards;
}

@keyframes sideLoad {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.sideBarEl {
  background-color: rgb(216, 216, 216);
  margin: 0px;
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.25s ease-in-out;
}

.sideBarEl:hover {
  background-color: rgb(175, 175, 175);
}

#selected {
  background-color: rgb(185, 185, 185);
}

.withNavBar {
  display: flex;
}

.gameButton {
  background-color: aqua;
  height: 20px;
  width: 280px;
  position: absolute;
  top: 40px;
}

.gameButton:hover {
  top: 58px;
}

#pressed {
  top: 55px;
}

#gameholder {
  height: 80px;
  position:relative;
  width: 80%;
  margin: auto;
}

#floor {
  height: 20px;
  background-color: aquamarine;
  position: absolute;
  left: -192px;
  top: 60px;
  width: 100vw;
}

#player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  
}

.content {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: auto;
  top: -3px;
  animation: 1s sideLoad;
  animation-fill-mode: forwards;
}

#HContent {
  background-color: rgb(224, 236, 170);
}
#GDContent {
  background-color: rgb(160, 206, 160);
}
#SDContent {
  background-color: rgb(166, 166, 207);
}
#AContent {
  background-color: rgb(197, 146, 199);
}